

body {

	      font-family: 	   "Actor", serif; 
   	        font-size:		98%;
	       background: 		url(../images/background2.jpg);
	background-repeat:		no-repeat;
background-attachment: 	    fixed;
     background-color: 		#0c0a0f;  
		        color: 		#5D7478;
		   word-wrap:		normal;	          	

	}

h1 {   

	     color:			 #85ffa5;
	 font-size:			 3em;	     
   font-family: 		 "Actor", serif; 
   text-shadow: 		 2px 1px 10px #350f40;
 margin-bottom: 		-20px;

	
	}

h1, h2, h3 {

	   padding:			5px;
		 color:			#85ffa5;

	}

p, span, ol, ul {

   font-family: 	   "Actor", serif; 
	   padding: 		15px;	    
	     color:			#c6c6c6;

	
	 }

 	ul { 

text-decoration: 		none;

		}

	ul li  { 

   list-style: 			none;
		
		}

#wrapper { 

	    clear:			both; 
		width: 			100%;
	max-width: 			1160px;		
	   margin: 			0 auto;
   margin-top:			-10px; /*125px;*/


	}

#wrapper2 { 

	   	   clear:			both; 
	       width: 			100%;
	   max-width: 			1160px;	    
	      margin: 			0 auto; 
background-color: 			#0c0a0f;
	
	}

header { 

		width:			100%;
   	   height:			80px;
      display:			block;
         left:			0;

	}

.logo {
	   
	    float:			left;
	  padding:			.86206896551724%;			  /*10px;*/	    
	font-size: 			150%;
  margin-left:			5.17241379310345%;		 /*60px | 1160px */
   margin-top: 			15px;

	}

nav {

		float:			right;
		width:			100%;
	font-size: 			90%;		
   margin-top: 			40px;


	}

nav ul {

		float: 			left;
	
	/*padding-left: 10px;
	margin-left: 10px;*/

	}

nav ul li { 

	  display:			inline; 	/* makes the links appear inline */
	  padding:			4px; 

	}

nav a {

	      color: 		#717171;
	  font-size: 		1em;
text-decoration:	    none; 			/*remove underline :)*/;

	}

nav a:hover, a:active {   

 	    color:		  #85ffa5;
  
	}

	nav ul {

		float: 		  left;
	
    /*padding-left: 10px;
	margin-left: 10px;*/

	}

nav ul li { 

	  display:		 inline; 	/* makes the links appear inline */
	  padding:		 4px; 

	}

#user {
	
	    float:		 right;
   margin-top: 		 15px;
 margin-right:		 10.17241379310345%;			/*60px | 1160px */

	}

section { 
	
	   height: 		720px;
	    width: 		100%;

	/* 0 - 1, any decimals between 0 - 1 will be
	 for example .6 is 60% while 1 is a 100% */
	/*background: url(../images/cta_background.jpg);
	background-repeat: no-repeat;*/

	}

.ctabox {

	 overflow:		hidden;
	    width:		100% ;						/*500px / 960px*/
	   height:		100%;

   background:     -moz-linear-gradient(top,  rgba(36,23,55,0.9) 0%, rgba(36,23,55,0.9) 100%); /* FF3.6+ */
   background:     -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,23,55,0.9)), color-stop(100%,rgba(36,23,55,0.9))); /* Chrome,Safari4+ */
   background:     -webkit-linear-gradient(top,  rgba(36,23,55,0.9) 0%,rgba(36,23,55,0.9) 100%); /* Chrome10+,Safari5.1+ */
   background:     -o-linear-gradient(top,  rgba(36,23,55,0.9) 0%,rgba(36,23,55,0.9) 100%); /* Opera 11.10+ */
   background:     -ms-linear-gradient(top,  rgba(36,23,55,0.9) 0%,rgba(36,23,55,0.9) 100%); /* IE10+ */
   background:     linear-gradient(to bottom,  rgba(36,23,55,0.9) 0%,rgba(36,23,55,0.9) 100%); /* W3C */

	}

.ctacontent {

	    float: 		left;
	   height: 		6.45161290322581%; 			/*40px;*/
  line-height:      20px; 
	    width: 		30%;						/*307px;*/	
	max-width: 		60%;	       
  padding-top: 		30.222%; 				/*340px;*/ 						
 padding-left:   	6.89655172413793%; 			/*80px;*/



	/*display: table-cell;
	text-align: center;
	vertical-align: middle;*/

	}

.ctacontent p {

	    color:		#717171;

	}

.ctabox p {

  font-family: 		"Actor", serif; 
   margin-top: 		40px;
  line-height: 		25px;
	
}

#button {

   margin-top:		37%; 					/*420px;*/
 margin-right:		11.20689655172414%;		/*130px / 1160px ;*/
border-radius:		5px;
       border:		0px solid #404F52;
  	    float:		right;

   background:     -moz-linear-gradient(top,  rgba(12,10,15,0.7) 0%, rgba(12,10,15,0.7) 100%); /* FF3.6+ */
   background:     -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,10,15,0.7)), color-stop(100%,rgba(12,10,15,0.7))); /* Chrome,Safari4+ */
   background:     -webkit-linear-gradient(top,  rgba(12,10,15,0.7) 0%,rgba(12,10,15,0.7) 100%); /* Chrome10+,Safari5.1+ */
   background:     -o-linear-gradient(top,  rgba(12,10,15,0.7) 0%,rgba(12,10,15,0.7) 100%); /* Opera 11.10+ */
   background:     -ms-linear-gradient(top,  rgba(12,10,15,0.7) 0%,rgba(12,10,15,0.7) 100%); /* IE10+ */
   background:      linear-gradient(to bottom,  rgba(12,10,15,0.7) 0%,rgba(12,10,15,0.7) 100%); /* W3C */
   
	}

#button a {
 
 	      color: 	#fff;
    font-family:	"Actor", serif;
   	  font-size: 	1.25em;
  	font-weight: 	normal;
text-decoration:	none; 		/*remove underline :)*/

	}

#button a:hover, a:active {   

  	   color:		#85ffa5;
  
	}

#gallery ul li img {

		width: 		15%;
	   height:		15%;
	  padding:      8px;
	  display:		inline;
    	float:		left;
   margin-top: 		30px;
  margin-left: 		31px;

	}

article { 

		 float:		left;
	     width: 	70.68965517241379%;     /*820px;*/
	   padding: 	6.03448275862069%; 		/*70px;*/
   line-height: 	25px;

	/*max-width: 620px; 610px;*/

	}

aside {

	      float:	right;
	line-height:	25px;
	  max-width: 	17.24137931034483%;		/*200px;*/
	      width:	18.96551724137931%;    /* 220px | 1160 */
	padding-top:    6.03448275862069%; 		/*70px;*/
	
	/*padding: 2.58620689655172%; 			/*30px;*/

	}

footer { 

	  overflow: 	hidden;
         clear:		both;
         width: 	100%;
        height:		100%;
background-color: 	#18141e;
 margin-bottom: 	-20px;

	}

.bottom {

	  padding: 		5.17241379310345%;	/*60px | 1160px */
  line-height: 		25px;
  margin-left: 		3px;
   	    float: 		left;
        width: 	    22%;
       height:	    100%;

	}


/* Media Queries */

@media only screen and (max-width:929px) and (min-width: 750px) {

     #wrapper {

		clear:			both; 
		width: 			100%;
	max-width: 			1160px;		
	   margin: 			0 auto;
   margin-top:			0px;     	
          
       }

@media screen and (min-device-width : 1020px) and (orientation: portrait) {
  #device:after {
    content: "Nexus 7 - portrait - chrome";
		background-color: #000;}



}


}


@media only screen and (max-width : 480px) and (min-width : 320px) {

/* Styles */
}

/* Extras */

	/*.clear {

	clear:both;

	}*/


/*.overlay {


	height:60px;
	width:100%;
	padding-top: 200px;
	position: absolute;
	background-color: #161B1C;
    opacity: .4;
    z-index: 100;
}*/


/* .shadow {
          content: "";
          position: fixed;
          margin-top: -50px;
          left: 0;
          width: 100%;
          height: 80px;

          -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 20px rgba(0,0,0,.8);

          z-index: 100;
	}*/

/*.spacer{


	height:2px;
	width:100%;
	position:absolute;
	background-color: #161B1C;
	display:block;
	margin: 30px ;
    left:0;
    opacity: .4;
	clear:both;
	margin: 30px auto;


}*/


	/*.red {

		height:2px;
		width:100%;
		background-color: #161B1C;
		display:block;
    	position:fixed;
   	 	left:0;
    	opacity: .4;
	
		}*/