body {
	/*font-family: helvetica, arial, sans-serif;*/
	font: .75em/1.5em Helvetica, Arial, sans-serif  #444;
	/*font-size: 2em;*/
	/*color: #ccc;*/
	width: 960px;	
background: url (../img/name.jpg);
	background-repeat: repeat;
}

p, h1, h2, h3, span, ol, ul {
	color: ff0000;
	padding: 2px;
}

header { 
height: 120px;
background-color: #000; /* don’t forget the color! background-color*/
}

nav {
	float: left;
}

#wrapper {
	margin: 0 auto;
	clear:both; /* left, right, none, both. Depends on how you align the float. */
}

section { 
	/*background: url (../img/bg.jpg);
	opacity: 0.1;*/
background-color:#999;
opacity:0.6;

 /* 0 - 1, any decimals between 0 - 1 will be for example .6 is 60% while 1 is a 100% */

}

#gallery ul li img {

float:left;
}

article { clear:both;

	}

aside {

width: 360px;
}





a {
 color: #ff0000;
	font-size: 2em;

}

a:hover, a:active {

}



h1 {

	}

p {

	}




ul {

	}

ul li  { decoration:none;

	}

img {

}